/*  your css code here. If applicable */
#circle{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:#ff0000;
	position: relative;
}
#circle2{
	height:250px;
	width:250px;
	border-radius:50%;
	background-color:#ffa500;
	position:absolute;
	  top: 33px;
      left: 33px;
}
#circle3{
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:#ffff00;
	position:absolute;
	  top: 57px;
      left: 57px;
}
#circle4{
	height:150px;
	width:150px;
	border-radius:50%;
	background-color:#ff0000;
	position:absolute;
	  top: 80px;
      left: 80px;
}
#circle5{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:#0000ff;
		position:absolute;
	  top: 105px;
      left: 105px;
}
#circle6{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:#800080;
	position:absolute;
	  top: 130px;
      left: 130px;
}